<page-header title="'Docker 功能配置'" breadcrumbs="['Docker 配置']"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.form">
          <div class="col-sm-12 form-section-title"> 主机和文件系统  </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small vertical-center">
              <pr-icon icon="'info'" mode="'primary'" class-name="'space-right'"></pr-icon>
              <span class="text-muted"
                >使用此功能需要环境中 <a href="https://docs.portainer.io/start/agent">运行 Portainer Agent</a>，且在 Agent 部署时需将主机根目录绑定挂载到
                绑定挂载到 <b>/host</b>。可查看
                <a href="https://docs.portainer.io/user/docker/host/setup#enable-host-management-features">官方文档</a>了解更多信息。</span
              >
            </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.enableHostManagementFeatures"
                name="'enableHostManagementFeatures'"
                label="'启用主机管理功能'"
                tooltip="'启用主机管理功能：主机系统浏览和高级主机详情查看。'"
                label-class="'col-sm-7 col-lg-4'"
                disabled="!$ctrl.isAgent"
                on-change="($ctrl.onChangeEnableHostManagementFeatures)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.allowVolumeBrowserForRegularUsers"
                name="'allowVolumeBrowserForRegularUsers'"
                label="'为非管理员启用存储卷管理功能'"
                tooltip="'启用后，普通用户将可以使用 Portainer 的存储卷管理功能。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeAllowVolumeBrowserForRegularUsers)"
                disabled="!$ctrl.isAgent"
              ></por-switch-field>
            </div>
          </div>
          <!-- auto update window -->
          <div class="col-sm-12 form-section-title"> 变更窗口设置 </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.state.autoUpdateSettings.Enabled"
                name="'disableSysctlSettingForRegularUsers'"
                label="'启用变更窗口'"
                label-class="'col-sm-7 col-lg-4'"
                feature-id="$ctrl.limitedFeatureAutoUpdate"
                tooltip="'指定此环境中 GitOps 更新允许执行的时间段。'"
                on-change="($ctrl.onToggleAutoUpdate)"
              >
              </por-switch-field>
            </div>
          </div>

          <!-- security -->
          <div class="col-sm-12 form-section-title"> Docker 安全设置 </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableBindMountsForRegularUsers"
                name="'disableBindMountsForRegularUsers'"
                label="'对非管理员隐藏绑定挂载'"
                tooltip="'启用后，普通用户在创建容器时将无法使用绑定挂载功能。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableBindMountsForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disablePrivilegedModeForRegularUsers"
                name="'disablePrivilegedModeForRegularUsers'"
                label="'对非管理员隐藏特权模式'"
                tooltip="'启用后，普通用户在创建容器时将无法使用特权模式。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisablePrivilegedModeForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableHostNamespaceForRegularUsers"
                name="'disableHostNamespaceForRegularUsers'"
                label="'对非管理员隐藏主机 PID 1的使用权限'"
                tooltip="'阻止用户通过主机 PID 命名空间访问主机文件系统。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableHostNamespaceForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableStackManagementForRegularUsers"
                name="'disableStackManagementForRegularUsers'"
                label="'对非管理员隐藏堆栈 (Stacks) 的使用权限'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableStackManagementForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableDeviceMappingForRegularUsers"
                name="'disableDeviceMappingForRegularUsers'"
                label="'对非管理员隐藏设备映射'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableDeviceMappingForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableContainerCapabilitiesForRegularUsers"
                name="'disableContainerCapabilitiesForRegularUsers'"
                label="'对非管理员隐藏容器权限能力'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableContainerCapabilitiesForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableSysctlSettingForRegularUsers"
                name="'disableSysctlSettingForRegularUsers'"
                label="'对非管理员隐藏内核参数 (sysctl) 设置'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableSysctlSettingForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableSecurityOptForRegularUsers"
                name="'disableSecurityOptForRegularUsers'"
                label="'对非管理员隐藏安全选项 (security-opt) 配置'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableSecurityOptForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.isContainerEditDisabled()">
            <span class="col-sm-12 text-muted small">
              <pr-icon icon="'info'" mode="'primary'" class-name="'mr-0.5'"></pr-icon>
              注意：由于一项或多项安全设置的限制，重建/复制/编辑功能目前对非管理员用户隐藏。
            </span>
          </div>
          <!-- !security -->

          <!-- other -->
          <div class="col-sm-12 form-section-title"> 其他 </div>
          <div class="form-group">
            <div class="col-sm-12" ng-if="!$ctrl.isDockerStandaloneEnv">
              <text-tip children="'目前仅Docker单机版支持在界面中显示GPU，且仅限 NVIDIA 显卡。'" color="'blue'" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label="'在界面中显示 GPU'"
                tooltip="'允许通过 Portainer 界面管理容器/堆栈硬件加速所需的 GPU。'"
                checked="$ctrl.state.enableGPUManagement"
                name="'enableGPUManagement'"
                on-change="($ctrl.onToggleGPUManagement)"
                label-class="'col-sm-7 col-lg-4'"
                disabled="!$ctrl.isDockerStandaloneEnv"
              ></por-switch-field>
            </div>

            <div ng-if="$ctrl.state.enableGPUManagement">
              <div class="col-sm-12">
                <text-tip children="'GPU 支持目前仅限 NVIDIA 显卡。'" color="'blue'" />
              </div>
              <div class="col-sm-12">
                <div class="pl-4">
                  <gpus-list ng-if="$ctrl.state.enableGPUManagement" value="$ctrl.endpoint.Gpus" on-change="($ctrl.onGpusChange)"></gpus-list>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label="'为堆栈、服务和容器显示镜像更新状态标识'"
                checked="false"
                name="'outOfDateImageToggle'"
                label-class="'col-sm-7 col-lg-4'"
                feature-id="$ctrl.limitedFeatureUpToDateImage"
              ></por-switch-field>
            </div>
          </div>
          <!-- !other -->

          <!-- actions -->
          <div class="col-sm-12 form-section-title"> 操作 </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm !ml-0"
                ng-click="$ctrl.save()"
                ng-disabled="$ctrl.state.actionInProgress"
                button-spinner="$ctrl.state.actionInProgress"
              >
                <span ng-hide="$ctrl.state.actionInProgress">保存配置</span>
                <span ng-show="$ctrl.state.actionInProgress">保存中...</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
